body {
    font-family: Arial, sans-serif;
    background: #fafafa;
}

h2 {
    text-align: center;
}

table {
    color: #dc1616;
    border-collapse: collapse;
    width: 50%;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #dd1634;
    color: white;
}

tr:nth-child(even) {
    background-color: #dc1616;
}
